<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">ngMovies Application</h1>
    <p class="lead">This is an application for searching your movies.</p>
  </div>
</div>

<div class="container">
  <br>

  <h1>Billboard</h1>
  <hr>

  <div class="row" *ngIf="billboard">

    <div class="col-sm-6">

      <div class="row">
        <div class="col-md-12 div-pic-1"
            [ngStyle]="{ 'background-image': 'url( '+ (billboard[0] | movieImg) +' )'  }">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 div-pic-2"
              [ngStyle]="{ 'background-image': 'url( '+ (billboard[1] | movieImg) +' )'  }">
        </div>
        <div class="col-sm-6 div-pic-2"
              [ngStyle]="{ 'background-image': 'url( '+ (billboard[2] | movieImg) +' )'  }">
        </div>
      </div>

    </div>

    <div class="col-sm-6">


      <div class="row">
        <div class="col-sm-6 div-pic-2"
              [ngStyle]="{ 'background-image': 'url( '+ (billboard[3] | movieImg) +' )'  }">
        </div>
        <div class="col-sm-6 div-pic-2"
              [ngStyle]="{ 'background-image': 'url( '+ (billboard[4] | movieImg) +' )'  }">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 div-pic-1"
        [ngStyle]="{ 'background-image': 'url( '+ (billboard[5] | movieImg) +' )'  }">
      </div>
    </div>

    </div>





  </div>


</div>
